In [13]:
import mysql.connector

In [14]:
# Melakukan percobaan koneksi
try:
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password=""
    )
    print("Koneksi berhasil")
except:
    print("Koneksi gagal")

Koneksi berhasil

In [15]:
# Membuat database kalbe
cursor = connection.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS kalbe")
print("Database kalbe berhasil dibuat")

Database kalbe berhasil dibuat

In [16]:
# Menampilkan database yang ada
cursor.execute("SHOW DATABASES")
for db in cursor:
    print(db)

('bank_database',)
('bankingdemo_dem',)
('cinematix',)
('classicmodels',)
('information_schema',)
('kalbe',)
('mysql',)
('performance_schema',)
('productions',)
('sakila',)
('sales',)
('sys',)
('transaksi',)
('world',)

In [17]:
# Aktifasi database kalbe
cursor.execute("USE kalbe")
print("Database kalbe berhasil diaktifkan")

Database kalbe berhasil diaktifkan

In [18]:
# Membuat tabel karyawan dengan kolom FIRST_NAME, LAST_NAME, AGE, SEX, INCOME
tabel_karyawan = """
    CREATE TABLE IF NOT EXISTS karyawan (
        FIRST_NAME CHAR(20) NOT NULL,
        LAST_NAME CHAR(20),
        AGE INT,
        SEX CHAR(5),
        INCOME FLOAT
    )"""
cursor.execute(tabel_karyawan)
print("Tabel karyawan berhasil dibuat")

Tabel karyawan berhasil dibuat

In [19]:
# Deklarasi SQL Query untuk memasukkan record ke DB (KARYAWAN)
insert_sql = (
    "INSERT INTO karyawan (FIRST_NAME, LAST_NAME, AGE, SEX, INCOME)"
    "VALUES (%s, %s, %s, %s, %s)"
)
values = ("Akmal", "Muzakki", 20, "M", 1000000)

In [20]:
try:
    # Eksekusi SQl command
    cursor.execute(insert_sql, values)
    # Commit perubahan ke database
    connection.commit()
    print("Record berhasil dimasukkan")
except mysql.connector.Error as error:
    # Rollback jika terjadi kesalahan
    connection.rollback()
    print("Record gagal dimasukkan")

Record berhasil dimasukkan

In [21]:
# Tampilkan nama kolom dari tabel karyawan
cursor.execute("SHOW COLUMNS FROM karyawan")
for kolom in cursor:
    print(kolom)

('FIRST_NAME', b'char(20)', 'NO', '', None, '')
('LAST_NAME', b'char(20)', 'YES', '', None, '')
('AGE', b'int', 'YES', '', None, '')
('SEX', b'char(5)', 'YES', '', None, '')
('INCOME', b'float', 'YES', '', None, '')

In [22]:
# Tampilkan data di tabel karyawan
cursor.execute("SELECT * FROM karyawan")
for data in cursor:
    print(data)

('Akmal', 'Muzakki', 20, 'M', 1000000.0)

In [23]:
# Menutup koneksi
cursor.close()

True